@import auth.MyUsernamePasswordAuthProvider
@import dto.EmailPasswordLogin
@(loginForm: Form[EmailPasswordLogin])

	@import helper._
	@implicitFieldConstructor = @{
		FieldConstructor(twitterBootstrapBasic.f)
	}

	@main("OrganiCity Scenarios") {

		<div class="row">
			<div class="col-md-12">
				Sign in using...
				@_providerPartial(false)
			</div>
		</div>

		@helper.form(routes.Application.doLogin, 'class -> "form-horizontal", 'role -> "form") {

			@if(loginForm.hasGlobalErrors) {
				<p class="alert alert-danger">
				@loginForm.globalError
				</p>
			}

			@inputText(
				loginForm("email"),
				'_showConstraints -> false,
				'_label -> Messages("playauthenticate.login.email.placeholder")
			)

			@inputPassword(
				loginForm("password"),
				'_label -> Messages("playauthenticate.login.password.placeholder")
			)

			<button type="submit" class="btn btn-default">@Messages("playauthenticate.login.now")</button>
		}

		<div class="row">
			<div class="col-md-12">
				Or <a href="@controllers.routes.Application.signup()">sign up</a>
			</div>
		</div>

	}