@import be.objectify.deadbolt.core.utils.TemplateUtils.{as, la}
@import be.objectify.deadbolt.java.views.html.{restrict, subjectNotPresent, subjectPresent}

<nav class="navbar navbar-default navbar-static-top">

	<div class="container-fluid">

		<ul class="nav navbar-nav">

			@if(request().path().equals(routes.Scenarios.list().url)) {
				<li class="active"><a href="@routes.Scenarios.list()">Scenarios</a></li>
			} else {
				<li><a href="@routes.Scenarios.list()">Scenarios</a></li>
			}

			@restrict(roles = la(as("admin"))) {
				@if(request().path().equals(routes.Users.list().url)) {
					<li class="active"><a href="@routes.Users.list()">Users</a></li>
				} else {
					<li><a href="@routes.Users.list()">Users</a></li>
				}
			}

		</ul>

		<ul class="nav navbar-nav navbar-right">
			@subjectPresent() {
				<li><a href="@routes.Application.logout()">Logout</a></li>
			}

			@subjectNotPresent() {
				@if(request().path().equals(routes.Application.login().url)) {
					<li class="active"><a href="@routes.Application.login()">Login</a></li>
				} else {
					<li><a href="@routes.Application.login()">Login</a></li>
				}

				@if(request().path().equals(routes.Application.signup().url)) {
					<li class="active"><a href="@routes.Application.signup()">Sign up</a></li>
				} else {
					<li><a href="@routes.Application.signup()">Sign up</a></li>
				}
			}
		</ul>

	</div>

</nav>