@(scenarios: List[models.Scenario], users: List[User])

    @main("OrganiCity Scenarios") {

        <div class="row">
            <div class="col-md-12">
                <form class="form-inline pull-right" action="@controllers.routes.ScenarioController.list" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" id="input_search" name="q" value="@request().queryString().get("q")">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Summary</th>
                        <th>Creator</th>
                    </tr>
                    @if(scenarios.isEmpty()) {
                        <tr>
                            <td colspan="4">No scenarios found...</td>
                        </tr>
                    } else {
                        @scenarios.map { scenario =>
                            <tr>
                                <td><a href="@controllers.routes.ScenarioController.get(scenario.id)">@scenario.id</a></td>
                                <td><a href="@controllers.routes.ScenarioController.get(scenario.id)">@scenario.title</a></td>
                                <td>@scenario.summary</td>
                                <td>@scenario.creator.name</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>New Scenario</h4>
                @scenario_form(Option.empty, users)
            </div>
        </div>
        <script>
        $(function() {
            $("#input_search" ).focus();
            $("#input_search" ).select();
        })
    </script>
    }
