@(user: Option[User])
@import com.google.common.base.Joiner

<form class="form-inline" action="@controllers.routes.Users.create" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="@user.map(u => u.name)">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="@user.map(u => u.email)">
    </div>
    <div class="form-group">
        <label for="roles">Roles</label>
        <input type="text" class="form-control" id="roles" name="roles" value="@user.map(u => Joiner.on(",").join(u.roles))">
    </div>
    <button type="submit" class="btn btn-default">Create</button>
</form>