@(focusOnLoad: Boolean)

<div class="row">
    <div class="col-md-12">
        <form class="form-inline pull-right" action="@routes.Users.list" method="get">
            <div class="form-group">
                <input type="text" class="form-control" id="input_search" name="q" value="@request().queryString().get("q")">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
</div>

@if(focusOnLoad) {
    <script>
    $(function() {
        $("#input_search" ).focus();
        $("#input_search" ).select();
    })
    </script>
}